<div class="explain">
  <p>
    You'll see
    "Assertion Failed: You modified "propSetOnBlur" twice on &lt;backtracking@component:component-that-updates-props-through-blur-events::ember411&rt; in a single render.
    It was rendered in "component:component-that-updates-props-through-blur-events" and modified in "component:component-that-updates-props-through-blur-events".
    This was unreliable and slow in Ember 1.x and is no longer supported.
    See https://github.com/emberjs/ember.js/issues/13948 for more details."
    in the console.
  </p>

  <p>
    To avoid this error, don't update properties of classNameBindings through blur events
  </p>
</div>
{{component-that-updates-props-through-blur-events}}
